{% extends 'layouts.html' %} {% block content %}

<h2 class="text-center py-3">Registro de vehiculos</h2>
<section class="d-flex w-50" style="margin: 0px auto">
  <form class="w-100" action="/vehicle/add" method="POST">
    <div class="form-group">
      {% csrf_token %}
      <label>Marca</label>
      <input class="form-control w-100" type="text" name="marca" />
    </div>
    <div class="form-group">
      <label>Modelo</label>
      <input class="form-control w-100" type="text" name="modelo" />
    </div>
    <div class="form-group">
      <label>Serial Carroceria</label>
      <input class="form-control w-100" type="text" name="serial_carroceria" />
    </div>
    <div class="form-group">
      <label>Serial Motor</label>
      <input class="form-control w-100" type="text" name="serial_motor" />
    </div>
    <div class="form-group">
      <label>Categoria</label>
      <input class="form-control w-100" type="text" name="categoria" />
    </div>
    <div class="form-group">
      <label>Precio</label>
      <input class="form-control w-100" type="number" name="precio" />
    </div>
    <div class="form-group">
      <label>Fecha creacion</label>
      <input class="form-control w-100" type="date" name="fecha_creacion" />
    </div>
    <div class="form-group">
        <label>Fecha modificacion</label>
        <input class="form-control w-100" type="date" name="fecha_modificacion" />
    </div>
    <div class="form-group">
      <button class="btn btn-primary my-3" type="submit">Agregar vehiculo</button>
    </div>
  </form>
</section>
{% endblock %} 